<% content_for :head do %>
	<%= render 'shared/pageheader' %>
<% end %>

<h1><%= @user.name %></h1>
<p>This is your character's stats:</p>
<h3>Class:</h3>
<p><%= @character.user_class %></p>
<h3>Proficiency:</h3>
<p><%= @character.proficiency %></p>
<h3>Attributes:</h3>
<p>Aesthetics: <%= @character.aesthetics %></p>
<p>Analysis: <%= @character.analysis %></p>
<p>Charisma: <%= @character.charisma %></p>
<p>Curiosity: <%= @character.curiosity %></p>
<p>Empathy: <%= @character.empathy %></p>
<p>Intuition: <%= @character.intuition %></p>
<p>Willpower: <%= @character.willpower %></p>
