<!DOCTYPE html>
<html>
<head>
  <title>Design &amp; Development - Your life is a journey. Be Epic.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :js_custom %>
  <%= csrf_meta_tags %>
</head>
<body>
		<%= yield :head %>
		
	<div>
		<div class="container">
			
			<%= yield %>
		
		</div>
	</div>
	<div>
		<footer class="container">
			<h6>Copyright &copy; 2012 JBird Design, LLC</h6>
		</footer>
	</div>
</body>
</html>
